
<div style="padding:1.9vw;">
<div style="display: flex; justify-content: space-between; align-items: center; flex-direction: row; height:50px; ">
 <div>
    <span style="font-size: 1.8vw;">Pending Issuance</span>
 </div>
 <div>
    <mat-form-field appearance="outline"  id="homesearchbar">
        <mat-icon matSuffix id="searchicon">search</mat-icon>
        <div style="display:flex; justify-content: center; align-items: center; flex-direction: row;">
         <input  matInput placeholder="Search">
       
         <!-- <svg  fill="#00ADE5" xmlns="http://www.w3.org/2000/svg" height="4vh" viewBox="0 96 960 960" width="3vw"><path d="M796 935 533 672q-30 26-69.959 40.5T378 727q-108.162 0-183.081-75Q120 577 120 471t75-181q75-75 181.5-75t181 75Q632 365 632 471.15 632 514 618 554q-14 40-42 75l264 262-44 44ZM377 667q81.25 0 138.125-57.5T572 471q0-81-56.875-138.5T377 275q-82.083 0-139.542 57.5Q180 390 180 471t57.458 138.5Q294.917 667 377 667Z"/></svg> -->
        </div>
         
     </mat-form-field>
 </div>
</div>
<br>

    <section class="example-container mat-elevation-z0" tabindex="0">
        <table mat-table [dataSource]="dataSource">
      
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> S.No </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Issued to </th>
            <td mat-cell *matCellDef="let element"> <div class="mbox9">
              <!-- ['EmployeeName', 'BadgeNumber', 'Sticker']; -->  
              <!-- <img src="../../../../assets/images/sampleimage.jpeg" width="32px" height="32px" id="profileimg"> -->
              <mat-icon style="font-size: 2vw; padding: 0.5vw; z-index: 1;">account_circle</mat-icon>
              &nbsp;
              {{element.name}}
            </div> </td>
          </ng-container>
          <!-- Weight Column -->
          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef> Document details </th>
            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
          </ng-container>
          <!-- Symbol Column -->
          <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"><div class="mbox10">
                <mat-icon>{{element.symbol}}</mat-icon>
                <span style="color: #BD4F00; text-align: center;">Awaiting Signer Approval</span>
            </div> 
         </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" style="background-color: #D9EFFD;"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"  class="data-item"></tr>
        </table>
      </section>


</div>
