@font-face {
    font-family: manifapro;
    src: url(../../../../assets/Fonts/ManifaPro2_2.224-Regular.otf) format('opentype');
  }
  
  
  body{
    font-family: manifapro;
  }
  
span, a{
    font-family: manifapro;
}

::ng-deep .mat-form-field-underline {
    display: none;

}

::ng-deep .mat-mdc-form-field-infix {
    min-height: 2vh;

}

::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    // padding-top: 1vh;
    // padding-bottom: 1vh;
}

#searchbar{
    padding:0px; width:40vw; height:2vh; border-radius: 25px;
    font-size: 1vw;
    font-family: manifapro;
}
.example-container {
    height: 68vh;
    overflow: auto;
  }
  
  table {
    width: 100%;
    font-family: manifapro;
  }

  
.mbox9 {
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content:  flex-start;
    transform: translateX(0px);
    text-align: center;
    font-family: manifapro;
}
.mbox10 {
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content:  center;
    flex-direction: column;
    color:#BD4F00;
    text-align: center;
    font-family: manifapro;
   
}
td{
    padding:3vw;
    font-size: 1vw;
    font-family: manifapro;
}
th{ 
    font-size: 1.2vw;
    padding-left: 3vw;
    padding-right: 3vw;
    font-family: manifapro;
}
.tableitemaction{
    border-left:3px solid #159AFF;
}
.data-item{
    border-left:3px solid #159AFF;
}
// td:nth-child(1):hover {
//   border-left: 3px solid #159AFF;
   
// }