@font-face {
    font-family: manifapro;
    src: url(../assets/Fonts/ManifaPro2_2.224-Regular.otf) format('opentype');
}


body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}