
<div style="height:auto; width:60vw;   display:flex; justify-content: flex-start; align-items: center;  flex-direction: row; padding: 0px;  ">
   <div style="  height:30vw; width:30%;  display:flex; justify-content: center; align-items: center; flex-direction: column; row-gap: 2vw; background-color: #00488A; padding-top: 1vw; ">
    <img src="../../../assets/SVG/certificate2.svg">
    <span>Document Type</span>
   <!-- <mat-form-field>
    <mat-label>Favorite food</mat-label>
    <mat-select [(ngModel)]="selectedValue" name="food">
      <mat-option *ngFor="let food of foods" [value]="food.value">
        {{food.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field> -->
  <!-- <button mat-button [matMenuTriggerFor]="menu">Document Type</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Course  Complition</button>
  <button mat-menu-item>Certificate</button>
</mat-menu> -->
<mat-form-field  class="mffw" appearance="outline">
    <!-- <mat-label>Select Type</mat-label> -->
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>
   </div>
<div style=" height:30vw; width:70%;  display:flex; justify-content: space-around; align-items: center; flex-direction: column; row-gap: 3vw; padding-left: 2vw; padding-top: 1vw;">
    <div style="   box-shadow: 0 0 3px 0.5px rgb(201, 201, 201); display: flex; justify-content: flex-start; align-items: center; flex-direction: column; row-gap: 2vw; width:auto;  border-radius: 5px; padding-top: 2vw; padding-bottom: 2vw; padding-left: 2vw;">
       <div style=" display: flex; justify-content:center; align-items: center; flex-direction: row; column-gap: 1.5vw;">
        <div style="width:130px; height:auto; text-align: left;"><span>Course Name</span></div>
        <mat-form-field appearance="outline"  id="searchbar">
            <div style="display:flex; justify-content: center; align-items: center; flex-direction: row;">
             <input  matInput placeholder="Enter the course name">
             <!-- <svg  fill="#00ADE5" xmlns="http://www.w3.org/2000/svg" height="4vh" viewBox="0 96 960 960" width="3vw"><path d="M796 935 533 672q-30 26-69.959 40.5T378 727q-108.162 0-183.081-75Q120 577 120 471t75-181q75-75 181.5-75t181 75Q632 365 632 471.15 632 514 618 554q-14 40-42 75l264 262-44 44ZM377 667q81.25 0 138.125-57.5T572 471q0-81-56.875-138.5T377 275q-82.083 0-139.542 57.5Q180 390 180 471t57.458 138.5Q294.917 667 377 667Z"/></svg> -->
            </div>
             <!-- <mat-icon matSuffix id="searchicon">search</mat-icon> -->
        </mat-form-field>
       </div>
       <div style=" display: flex; justify-content:center; align-items: center; flex-direction: row; column-gap: 1.5vw;">
       <div style="width:130px; height:auto; text-align: left;">  <span>Recipient Name</span></div>
        <mat-form-field appearance="outline"  id="searchbar">
            <div style="display:flex; justify-content: center; align-items: center; flex-direction: row;">
             <input  matInput placeholder="Enter the course name">
           
             <!-- <svg  fill="#00ADE5" xmlns="http://www.w3.org/2000/svg" height="4vh" viewBox="0 96 960 960" width="3vw"><path d="M796 935 533 672q-30 26-69.959 40.5T378 727q-108.162 0-183.081-75Q120 577 120 471t75-181q75-75 181.5-75t181 75Q632 365 632 471.15 632 514 618 554q-14 40-42 75l264 262-44 44ZM377 667q81.25 0 138.125-57.5T572 471q0-81-56.875-138.5T377 275q-82.083 0-139.542 57.5Q180 390 180 471t57.458 138.5Q294.917 667 377 667Z"/></svg> -->
            </div>
             <!-- <mat-icon matSuffix id="searchicon">search</mat-icon> -->
         </mat-form-field>
       </div>
       <div style=" display: flex; justify-content:center; align-items: center; flex-direction: row; column-gap: 1.5vw;">
        <div style="width:130px; height:auto; text-align: left;"> <span> Duration</span></div> 
        <mat-form-field appearance="outline"  id="searchbar">
            <div style="display:flex; justify-content: center; align-items: center; flex-direction: row;">
             <input  matInput placeholder="Enter the course name">
           
             <!-- <svg  fill="#00ADE5" xmlns="http://www.w3.org/2000/svg" height="4vh" viewBox="0 96 960 960" width="3vw"><path d="M796 935 533 672q-30 26-69.959 40.5T378 727q-108.162 0-183.081-75Q120 577 120 471t75-181q75-75 181.5-75t181 75Q632 365 632 471.15 632 514 618 554q-14 40-42 75l264 262-44 44ZM377 667q81.25 0 138.125-57.5T572 471q0-81-56.875-138.5T377 275q-82.083 0-139.542 57.5Q180 390 180 471t57.458 138.5Q294.917 667 377 667Z"/></svg> -->
            </div>
             <!-- <mat-icon matSuffix id="searchicon">search</mat-icon> -->
         </mat-form-field>
       </div>
    </div>
    <!-- <hr> -->
    <div style=" box-shadow: 0 0 3px 0.5px rgb(201, 201, 201); display: flex; justify-content: space-evenly; align-items: center; flex-direction: column; row-gap: 2vw; height: auto; width:auto;  border-radius: 5px; padding-bottom: 2vw;  ">
      
        <div style=" display: flex; justify-content:space-between; align-items: center; width: 95%; height:auto; border-bottom: 2px solid rgb(194, 194, 194);">
           <span >Assign Singer</span>
           <button mat-button >Add</button>
        </div>
        <div style=" padding-left: 2vw; display: flex; justify-content:center; align-items: center; flex-direction: row; column-gap: 1.5vw; ">
            <div style="width:130px; height:auto; text-align: left;">
              <span>Course Name</span>
            </div>
            <mat-form-field appearance="outline"  id="searchbar">
                <div style="display:flex; justify-content: center; align-items: center; flex-direction: row;">
                  <input  matInput placeholder="Enter assigner name">
                </div>
             </mat-form-field>
        </div>
    </div>
    <div style=" display: flex; justify-content: flex-end; align-items: center; flex-direction: row; column-gap: 2vw; width:100%;">
      <button mat-button >Cancel</button>
      <button mat-button >Submit</button>
    </div>
</div> 
</div>