.mffw{
    width: auto;
    height:2vh;
    color: white;
    
}

::ng-deep .mat-mdc-form-field{
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-end;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: white;
    }

::ng-deep .mat-form-field-underline {
    display: none;

}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: white !important;
  }
  
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: white !important;
  }

// ::ng-deep .mat-mdc-form-field-infix {
//     min-height: 5vh;

// }

::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-align: center;
}


#searchbar{
    padding:0px; width:20vw; height:3vh; border-radius: 25px;
}
